<login-view>
  <div class="row img-login">
    <div class="d-flex justify-content-center align-self-center img-logo">
      <img src="./srcs/assets/logo.svg">
    </div>
    <div class="d-flex justify-content-center align-self-start">
      <div id="btn-login" class="btn btn-lg btn-primary btn-login">LOGIN</div>
      <a id="move-to-auth" href="/auth" data-link></a>
    </div>
    <div class="loading-wrap" style="display: none;">
      <div class="loading-spinner my-5"></div>
      <p id="loadingMessage" class="mt-5 loading-message">접속 중...</p>
    </div>
  </div>
</login-view>
